body {
  font-family: sans-serif;
  background-image: url(https://static1.bigstockphoto.com/8/6/2/large2/268116100.jpg); 
}

#main_content {
  width:800px;
  margin:0 auto;
}

header {
  text-align: center;
  background-color: chartreuse;
}

.team {
  width: 50%;
  height: 200px;
  float: left;
}

.team1 {
  background-color: red;
}

.team2 {
  background-color: blue;
}

footer {
  background-color: darkgray;
}